<!-- https://tympanus.net/Tutorials/GoogleNexusWebsiteMenu/ -->
<!-- https://tympanus.net/Blueprints/SlidePushMenus/ -->
<!DOCTYPE html>
<html lang="fr">
    <head>
	<meta charset="utf-8" />
	<title>Make doc en stock great again</title>
	<link href="https://www.sgdf.fr/templates/sgdf_design_2013/images/favicon.ico" rel="shortcut icon" />
	<style>
	 body {
	     background-color: #f8f8f8;
	 }
	 ul {
	     list-style-type: none;
	     padding: 0 0 0 10px;
	 }

	 #main-menu {
	     position: fixed;
	     left: 0px;
	     top: 0px;
	     width: 200px;
	     height: 100%;
	     background-color: #fff;
	     color: #333;
	     font-weight: bold;
	     border-right: 1px solid #ccc;
	 }
	 #main-menu a {
	     font-family: "Montserrat", sans-serif;
	     font-size: 0.8125em;
	     font-weight: bold;
	     color: #333;
	     padding: 10px;
	     display: block;
	     text-decoration: none;
	 }

	 #main-menu a:first-of-type {
	     margin-top: 60px;
	 }

	 #main-menu a.static {
	     border-bottom: 1px solid #ccc;
	 }

	 #main-menu a.selected {
	     color: #17a689;
	 }


	 #main-menu a:hover {
	     color: white;
	     background-color: #17a689;
	 }

	 #main {
	     margin: 0 auto;
	     width: 100%;
	 }

	 #main section,
	 header {
	     width: 100%;
	     max-width: 880px;
	     margin: 0 0 0 200px;
	 }

	 li.doc-container {
	     position: relative;
	     height: 40px;
	     padding: 5px 10px 5px 0;
	     margin: 5px 5px;
	     background-color: white;
	     border-radius: 5px 0 0 5px;
	 }

	 li.doc-container p {
	     margin: 1px 0;
	 }

	 div.ext {
	     position: absolute;
	     top: 0px;
	     left: -50px;
	     width: 40px;
	     font-size: 0.8em;
	     /* font-family: Helvetica; */
	     line-height: 16px;
	     text-transform: uppercase;
	     color: white;
	     background-color: #c3b091;
	     transform-origin: 100% 0%;
	     transform: rotate(-90deg);
	     padding: 5px;
	     border-radius: 5px 5px 0 0;
	 }

	 div.pdf {
	     background-color: #d50b0b;
	 }

	 div.doc,
	 div.docx {
	     background-color: #2b5797;

	 }

	 div.xls,
	 div.xlsx {
	     background-color: #02723b;
	 }

	 div.ppt,
	 div.pptx {
	     background-color: #d04727;
	 }

	 div.png,
	 div.jpg,
	 div.jpeg,
	 div.gif,
	 div.ai {
	     background-color: #789e2d;
	 }

	 div.zip,
	 div.rar {
	     background-color: #356d6e;
	 }

	 div.mp4,
	 div.mp3 {
	     background-color: #d83f80;
	 }

	 div.text {
	     margin-left: 40px;
	     margin-right: 150px;
	 }

	 div.text a {
	     text-decoration: none;
	     font-weight: bold;
	     color: #000;
	 }
	</style>
	<script src="main.js"></script>
    </head>
    <body>
	<nav id="main-menu">
	    <a class="static selected" href="#" data-id="-1"> Tout</a>
	    {% for category in categories -%}
	    <a href="#" data-id="{{ category.id }}">{{ category.label }}</a>
	    {%- endfor %}
	</nav>
	<header>
	    <input type="search" placeholder="rechercher" name="search-me" id="search-me"/>
	    <span id="number-results"></span>
	</header>
	<div id="main">
	    <section>
		<h1>{{with_dates|length}} documents datés</h1>
		<ul>
		    {% for item in with_dates -%}
		    <li data-cid="{{ item.cindex }}" class="doc-container">
			<div class="ext {{ item.ext }}">{{ item.ext }}</div>
			<div class="text">
			    <p class="titre"><a href="{{ item.href }}">{{ item.titre }}</a></p>
			    <p class="date">Dernière modification : {{ item.date }}</p>
			</div>
		    </li>
		    {%- endfor %}
		</ul>
	    </section>

	    <section>
		<h1>{{without_dates|length}} documents sans date</h1>
		<ul>
		    {% for item in without_dates %}
		    <li class="doc-container">
			<div class="ext">ext</div>
			<div class="text">
			    <p class="titre"><a href="{{ item.href }}" target="_blank">{{ item.titre }}</a></p>
			</div>
		    </li>
		    {% endfor %}
		</ul>
	    </section>

	    <section>
		<p>Dernière mise à jour : {{ date }}</p>
	    </section>
	</div>
    </body>
</html>
